@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* HOMEPAGE */
/* Banner */
/* overlay */
.homePage__banner .homePage__banner-wrapper:hover .homePage__banner-overlay {
  opacity: 1 !important;
}

/* navigation button */
.homePage__banner .swiper-button-prev,
.homePage__banner .swiper-button-next {
  width: 60px;
  height: 100%;
  top: 0;
  margin-top: 0;
  color: #fff;
}
.homePage__banner .swiper-button-prev {
  left: 0;
  background-image: linear-gradient(
    to right,
    rgb(255, 255, 255, 0.5),
    rgb(255, 255, 255, 0)
  );
}
.homePage__banner .swiper-button-next {
  right: 0;
  background-image: linear-gradient(
    to left,
    rgb(255, 255, 255, 0.5),
    rgb(255, 255, 255, 0)
  );
}

/* pagination bullet */
.homePage__banner .swiper-pagination-bullet {
  width: 14px;
  height: 14px;
  opacity: 1;
  background-color: rgba(255, 255, 255, 0.5);
  border: 2px solid transparent;
  vertical-align: middle;
}
.homePage__banner .swiper-pagination-bullet-active {
  border-color: #fff;
  background-color: transparent;
}

/* BOOKINGPAGE */
/* Showtime Theatres Chain */
.showtimeChains.ant-tabs-top .ant-tabs-nav::before {
  border-color: rgba(255, 255, 255, 0.5);
}
.showtimeChains
  .ant-tabs-nav
  .ant-tabs-nav-wrap
  .ant-tabs-nav-list
  .ant-tabs-ink-bar {
  background-color: white;
}

/* Showtime Date List */
.showtimeDates
  .ant-tabs-nav
  .ant-tabs-nav-wrap
  .ant-tabs-nav-list
  .ant-tabs-ink-bar {
  height: 0;
}
.showtimeDates
  .ant-tabs-nav
  .ant-tabs-nav-wrap
  .ant-tabs-nav-list
  .ant-tabs-tab
  .ant-tabs-tab-btn
  .showdate {
  border: 1px solid transparent;
  border-radius: 8px;
}
.showtimeDates
  .ant-tabs-nav
  .ant-tabs-nav-wrap
  .ant-tabs-nav-list
  .ant-tabs-tab
  .ant-tabs-tab-btn
  .showdate:hover {
  border-color: white;
}
.showtimeDates
  .ant-tabs-nav
  .ant-tabs-nav-wrap
  .ant-tabs-nav-list
  .ant-tabs-tab-active
  .ant-tabs-tab-btn
  .showdate {
  border-color: white;
}
